.map-container {
    padding: 0px;
    margin: 0px;
    width: 80vw;
    height: 90vh;
}

.custom-content-marker {
    width: 100px;
    height: 100px;
}

.custom-content-marker img {
    width: 50%;
    height: 50%;
}

.custom-content-marker .text-1 {
    width: 80%;
    border-radius: 5px;
    font-size: 12px;
    background-color: rgb(5, 165, 189);
    color: white;
    text-align: center;
}

.custom-content-marker .text-2 {
    width: 80%;
    border-radius: 5px;
    font-size: 12px;
    background-color: rgb(213, 213, 15);
    color: white;
    text-align: center;
}

.custom-content-marker .text-3 {
    width: 80%;
    border-radius: 5px;
    font-size: 12px;
    color: white;
    background-color: rgb(165, 219, 4);
    text-align: center;
}